body{
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
  background: grey;
  color: white;
  margin-left: 225px;
}

footer{
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.main{
  margin-left: 25px;
  margin-right: 25px;
}

h1{
  color: black;
}
h2{
  color: black;
}
h3{
  color: black;
}

.resume{
  width: 1000px;
  margin: auto;
}

.about{
  display: inline-block;
  text-align: left;
}

#myName{
  color: black;
  font-size: 54px;
  text-align: center;
}
.vid{
  width: 720px;
  height: 405px;
  margin: auto;
}

.centered{
  text-align: center;
}

.sidenav{
  height: 100%;
  width: 225px;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  background-color: black;
  /*overflow-x: hidden;*/
  padding-top: 20px;
}

.sidenav a {
  padding: 3px 5px 15px 15px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
}

.sidenav a:hover {
  color: white;
}