body{
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
  background: grey;
  color: white;
}

h1{
  color: black;
}
h2{
  color: black;
}
h3{
  color: black;
}

.centerImg{
  width: 1000px;
  margin: auto;
}