body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
  background: grey;
  color: grey;
}

h1 {
  color: black;
}

#me{
  height: 200px;
  width: 125px;
  animation: blink .15s;
  animation-iteration-count: infinite;
}
.memes{
  height: 75px;
  width: 75px;
  animation: blink .15s;
  animation-iteration-count: infinite;
}
.main{
  display: flex;
  justify-content: space-around;
  height: 70vh;
}
.left, .right{
  width: 50vw;
}




.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}