body{
  font-family: "Open Sans", helvetica, arial, sans-serif;
  /*margin: 3vw;*/
  /*background: grey;*/

  background: url(Images/BinaryWallpaperEDITED3.png) center fixed; 
  background-size: cover;

  color: white;
}

.sidenav{
  height: 100%;
  width: 225px;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  background-color: #0C0C2E;
  /*overflow-x: hidden;*/
  padding-top: 20px;
}

.sidenav a {
  padding: 3px 5px 15px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #365769;;
  display: block;
}

.sidenav a:hover {
  color: white;
}

h1{
  color: #0C0C2E;
}
h2{
  color: #0C0C2E;
}
h3{
  color: #0C0C2E;
}

a{
  /*color: #78B1A6;*/
  color: #412871;
}

.vid{
  width: 720px;
  height: 405px;
  margin: auto;
}

.centered{
  text-align: center;
}

.spacer{
  width:100%;
  height: 250px;
}

.main{
  margin-left: 225px;
  margin-right: 0px;
}

#myName{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
  color: white;
  font-size: 54px;
}

.about{
  display: inline-block;
  text-align: left;
}

.aboutContainer, .resumeContainer, .schoolworkContainer, .projectsContainer{
  background: #2D4C64;
  /*opacity: .75;*/
}

.resume{
  width: 1000px;
  margin: auto;
}

footer{
  background: #2D4C64;
  margin-left: 225px;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;

  opacity: .8;
}