html{
  scroll-behavior: smooth;
}

body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: url(Images/Background.png) center fixed; 
  background-size: cover;
  color: white;
}

.sidenav{
  height: 100%;
  width: 225px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0C0C2E;
  padding-top: 20px;
}

.sidenav a {
  padding: 3px 5px 15px 15px;
  text-decoration: none;
  font-size: 19pt;
  color: #365769;;
  display: block;
}

.sidenav a:hover {
  color: white;
}

h1{
  color: #0C0C2E;
}
h2{
  color: #2A2A48;
}
h3{
  color: #0C0C2E;
}

a{
  color: #392363;
}

p{
  font-size: 15pt;
}

.vid{
  width: 720px;
  height: 405px;
  margin: auto;
}

.centered{
  text-align: center;
}

.spacer{
  width:100%;
  height: 250px;
}

.main{
  margin-left: 225px;
  margin-right: 0px;
}

.nameContainer{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 44%;/*46.5%;*/
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: white;
}

.projNameContainer{
  margin: 0;
  position: absolute;
  /*top: 35%;*/
  left: 46%;/*39%;*//*46.5%;*/
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: white;
}

.schoolNameContainer{
  margin: 0;
  position: absolute;
  /*top: 35%;*/
  left: 44%;/*46.5%;*/
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: white;
}

.inDevNameContainer{
  margin: 0;
  position: absolute;
  /*top: 35%;*/
  left: 39%;/*46.5%;*/
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: white;
}

@keyframes sectionsAnimation {
  from {transform: translate(0px, 100px); opacity: 0;}
    to {transform: translate(0px, 0px); opacity: 1;}
}


#myName{
  font-size: 54pt;
  animation-timing-function: ease;
}

#descriptor{
  font-size: 34pt;
  animation-timing-function: ease;
}

.aboutContainer, .resumeContainer, .schoolworkContainer, .projectsContainer, .inDevContainer{
  background: #2D4C64;
}

.about{
  display: inline-block;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.resume{
  /*
  width: 1000px;
  height: 1000px;
  */
  margin-left: 25px;
  margin-right: 0px;
  margin-top: 25px;
  padding-bottom: 25px;
}

footer{
  background: #2D4C64;
  margin-left: 225px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}